html {
    font-size: 62.5%;
}

body {

    background: #1d1d1d;
}

.cabecalhoPrincipal {

    padding: 6.2rem 12rem 0 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listaRedesSociais {
    display: flex;
    align-items: center;
}

.logoRedeSocial {
    margin-right: 2.356rem;
}

.logo {

    display: flex;
    align-items: center;
}

.imagemLogo {

    margin-right: 2.141rem;
}

.tituloLogo {

    color: #FFFFFF;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.56413rem;
    font-weight: 500;
    line-height: 3.013rem;
}
.cabecalhoPrincipal input {

    border-radius: 1rem;
    background: url('./feather_search.svg') #FFFFFF left center no-repeat;
}

.cabecalhoPrincipal input:active {

    border: #27AE60;
}

.cabecalhoPrincipal input[type=text] {

    color: #999999;
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.1rem 0 1.1rem 1.837rem;
}

.cardDev {
    
}

.dadosDev {
    width: 30rem;
    height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #3C3C3C;
    border-radius: .5rem;
}

.fotoPerfil{
    border: .3rem solid #27AE60;
    border-radius: 50%;
    width: 17.5rem;
    height: 17.5rem;
}

.links {

    display: flex;
    align-items: center;
}