:root {
    --black: #1d1d1d;
    --light-grey: #A9A9A9;
    --green: #27AE60;
    --very-light-grey: #D2D2D2;
    --white: #FFFFFF;
    --hover-button: #68bf8c;
}

html {
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
}

body {
    background: var(--black);
}

.cabecalhoPrincipal {
    padding: 6.2rem 63.458rem 0 12rem;
    display: flex;
    justify-content: space-between;
}

.listaRedesSociais {
    display: flex;
    align-items: center;
}

.logoRedeSocial {
    margin-right: 2.356rem;
}

.logo {

    display: flex;
    align-items: center;
}

.imagemLogo {
    margin-right: 2.141rem;
}

.tituloLogo {
    color: var(--white);
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.56413rem;
    font-weight: 500;
    line-height: 3.013rem;
}

.conteudoPrincipal {
    background: url('../image/background/blobs_meio.svg') no-repeat left center, url('../image/background/blobs_baixo.svg') no-repeat left bottom, url('../image/background/programador_main.svg') no-repeat right center;

}

.textoApresentacao {
    padding: 18.335rem 76.1rem 26rem 12rem;
}

.tituloMain {
    color: var(--very-light-grey);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.077rem;
    padding-bottom: 1.6rem;
}

.textoMain {
    color: var(--light-grey);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.038rem;
    padding-bottom: 6.9rem;
}

.botao {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.038rem;
    border: none;
    background: var(--green);
    border-radius: 2.5rem;
    padding: 1.4rem 5.7rem;
    margin-bottom: 1.3rem;
    transition: all .3s;
}

.botao:hover {
    background: var(--hover-button);
    cursor: pointer;
}

.areaBotao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraBotao {
    width: 6.95rem;
    border: 0.2rem solid var(--green);
    border-radius: 0.5rem;
}